@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-color: initial !important;
}

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", sans-serif;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    oklch(0.6569 0.196 275.75),
    oklch(0.748 0.26 342.55)
  );
  border-radius: 4px;
}

.rarity-legendary {
  border: 8px solid #ffd600;
}

.rarity-epic {
  border: 8px solid #9500ff;
}

.rarity-rare {
  border: 8px solid #0068ff;
}

.rarity-common {
  border: 8px solid #808080;
}

.text-rarity-legendary {
  color: #ffd600;
}

.text-rarity-epic {
  color: #9500ff;
}

.text-rarity-rare {
  color: #0068ff;
}

.text-rarity-common {
  color: #808080;
}

.loading {
  transform: scale(1.5);
}

.collectible img {
  border-width: 4px;
}

.black-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  animation: black-overlay 0.5s forwards;
}

@keyframes black-overlay {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@keyframes spin-up {
  0% {
    right: 50%;
    transform: translateX(50%) translateY(120%) rotateY(10turn);
  }
  100% {
    right: 50%;
    transform: translateX(50%) translateY(-100%) rotateY(.5turn);
  }
}

@keyframes bring-down {
  0% {
    right: 50%;
    transform: translateX(50%) translateY(-100%)
  }
  100% {
    right: 50%;
    transform: translateX(50%) translateY(120%)
  }
}

@keyframes final-turn {
  0% {
    right: 50%;
    transform: translateX(50%) translateY(-100%) rotateY(.5turn);
  }
  100% {
    right: 50%;
    transform: translateX(50%) translateY(-100%) rotateY(1turn);
  }
}